/** CSS-Stylesheet
*	author: HTL Leonding
**/

/************* general setting *************/
body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	background-color: #636366;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1,
h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
}

h1,
h2,
p {
	margin: 0;
}

h1 {
	font-weight: 500;
}

a {
	color: #fff;
	text-decoration: none;
	display: block;
}

/************* colors *************/
.it {
	background-color: rgba(0, 80, 157, 0.7);
}

.it:hover {
	background-color: rgba(0, 80, 157, 1) !important;
}

#informatik #wrapper {
	background-color: rgba(0, 80, 157, 0.3);
}

#informatik .active {
	background-color: rgba(0, 80, 157, 1);
}

.medt {
	background-color: rgba(105, 180, 216, 0.7);
}

.medt:hover {
	background-color: rgba(105, 180, 216, 1) !important;
	;
}

#medientechnik #wrapper {
	background-color: rgba(105, 180, 216, 0.3);
}

#medientechnik .active {
	background-color: rgba(105, 180, 216, 1);
}

.et {
	background-color: rgba(186, 7, 36, 0.7);
}

.et:hover {
	background-color: rgba(186, 7, 36, 1) !important;
	;
}

#elektronik #wrapper {
	background-color: rgba(186, 7, 36, 0.3);
}

#elektronik .active {
	background-color: rgba(186, 7, 36, 1);
}

.medz {
	background-color: rgba(237, 135, 0, 0.7);
}

.medz:hover {
	background-color: rgba(237, 135, 0, 1) !important;
	;
}

#medizintechnik #wrapper {
	background-color: rgba(237, 135, 0, 0.3);
}

#medizintechnik .active {
	background-color: rgba(237, 135, 0, 1);
}



/************* wrapper *************/
#wrapper {
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(0, 0, 0, 0.5);
}



/************* header *************/
#wrapper header {
	padding: 5% 0;
}

#wrapper h1 {
	font-size: 400%;
}



/************* main *************/
.video {
	border: 0;
	width: 60vw;
	height: 33.75vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

.banner {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/************* nav subsites *************/
nav {
	margin-bottom: 3%;
}

nav a {
	box-sizing: border-box;
	width: 100%;
	padding: 5% 0;
}

#wrapper nav h2 {
	font-size: 100%;
	margin: 0;
}

/************* nav home *************/
#home nav {
	margin-bottom: 0;
}

#home nav div {
	box-sizing: border-box;
	padding: 2.5%;
}

#home nav img {
	box-sizing: border-box;
	width: 100%;
	padding: 5% 5% 0 5%;
}

#home nav h2 {
	font-size: 150%;
}



/************* footer *************/
#wrapper footer {
	padding: 3% 0;
	font-size: 200%;
	text-align: center;
}

footer a {
	font-style: italic;
	display: inline;
}

footer a:hover {
	text-decoration: underline;
}

/************* layout *************/
.columns {
	display: inline-block;
}

.rows {
	font-size: 0;
	width: 100%;
}

.rows * {
	font-size: initial;
}

.column-2 {
	width: 50%;
}

.column-4 {
	width: 25%;
}